{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}
<link href="{{url_for('static', filename='css/addons/datatables.min.css')}}" rel="stylesheet"/>
<div class="row">
  {% if status: %}
  <div class="col-12">
    <div class="card bg-warning">
      <!-- {{result['status']}}  -->
      {{status['reason']}}
    </div>
  </div>
  {% endif %}
  <div class="col">
    <div class="row">
      <div class="col-2 card bg-primary" id="balance"></div>
      <div class="col-2 card bg-info pull-right" id="Tbalance"></div>
      <div class="col-2" id="">
        <h6 class="to-center btn btn-success add-cash img-circle">Add cash<br><i class="icofont icofont-ui-add"></i></h6>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="title">
      <h3>User Stock(s)</h3>
    </div>
    <div class="table-responsive">
      <table id="user-stocks" class="table table-hover table-bordered nowrap">
        <thead class="bg-dark">
          <tr>
            <th><i class="icofont icofont-chart-flow-alt-2"></i></th>
            <th><i class="icofont icofont-coins"></i> Symbol</th>
            <th><i class="icofont icofont-deal"></i> Shares</th>
            <th><i class="icofont icofont-money-bag"></i> Current Price</th>
            <th><i class="icofont icofont-money-bag"></i> Total Price</th>
            <th><i class="icofont icofont-cart-alt"></i> Action</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in data['owned']: %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{stock.stock}}</td>
            <td>{{stock.shares}}</td>
            <td>{{usd(stock.curPrice)}}</td>
            <td class="text-warning">{{usd(stock.curPrice * stock.shares)}}</td>
            <td>
              <button class="buy btn btn-success" onclick="deal('{{stock.stock}}', 'buy')" type="button" name="button"><i class="icofont icofont-cart-alt"></i> Buy</button>
              <button class="btn btn-warning" onclick="deal('{{stock.stock}}', 'sell')" type="button" name="button"><i class="icofont icofont-deal"></i> Sell</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form action="" id="empty-form" method="post">
        <input id="shares" type="number" hidden name="shares" value="">
        <input id="symbol" type="text" hidden name="symbol" value="">
      </form>
    </div>
  </div>

  <div class="col-12">
    <div class="title">
      <h3>Transactions</h3>
    </div>
    <div class="table-responsive">
      <table id="stocks" class="table table-hover table-striped table-bordered nowrap">
        <thead class="bg-dark">
          <tr>
            <th><i class="icofont icofont-chart-flow-alt-2"></i></th>
            <th><i class="icofont icofont-coins"></i> Symbol</th>
            <th><i class="icofont icofont-deal"></i> Shares</th>
            <th><i class="icofont icofont-money-bag"></i> Current Price</th>
            <th><i class="icofont icofont-money-bag"></i> Txn Price</th>
            <th><i class="icofont icofont-deal"></i> Type</th>
            <th><i class="icofont icofont-ui-calendar"></i> Date</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in data['stocks']: %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{stock.stock}}</td>
            <td>{{stock.shares}}</td>
            <td>{{usd(stock.curPrice)}}</td>
            <td>{{usd(stock.price)}}</td>
            <td class="text-warning">{{stock.type}}</td>
            <td>{{stock.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/addons/datatables.min.js')}}"></script>
<script type="text/javascript">
  const deal = (symbol, type) => {
    shares = get_int('Number of shares')
    if(!shares) return

    $('#shares').val(shares)
    $('#symbol').val(symbol)
    $('#empty-form').attr('action', type === 'buy' ? "{{url_for('buy')}}" : "{{url_for('sell')}}")
    $('#empty-form').submit()
  }

  const get_int = (instruct) => {
    num = parseInt(prompt(instruct || 'Enter Number'))
    if(!num || !num > 0){
      alert("Please enter a valid number > 0 and try again")
      return
    }
    return num
  }

  const addcash = () => {
    amount = get_int('Enter Amount')
    if (!amount) return
    $.post({url: "{{url_for('addcash')}}", data: {amount}})
    .done((res) => window.location.reload())
    .fail((e) => console.log(e))
  }

  $(document).ready(() => {
    $('#balance').html(balance("{{data['balance']}}", '<i class="icofont icofont-bank-alt"></i>'))
    $('#Tbalance').html(balance("{{data['stockBalance'] + data['balance']}}", '<i class="icofont icofont-money-bag"></i> '))

    $('.add-cash').click(() => addcash())

    var stocks = $('#stocks').DataTable()
    var user_stocks = $('#user-stocks').DataTable()

  })
</script>
{% endblock %}
