{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}

{{text}}
<div class="page-body">
<div class="row">
<div class="col-sm-12">

<div class="card">
<div class="card-header">
<h5>Register Yourself Here</h5>
<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
<div class="card-header-right">
<i class="icofont icofont-rounded-down"></i>
<i class="icofont icofont-refresh"></i>
<i class="icofont icofont-close-circled"></i>
</div>
</div>
<div class="card-block">
<div class="j-wrapper j-wrapper-640">
<form action="" method="post" class="j-pro" id="j-pro" novalidate="">
<div class="j-content">

<div>
<label class="j-label">First Name</label>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="fname">
<i class="icofont icofont-ui-user"></i>
</label>
<input type="text" id="fname" name="fname">
</div>
</div>
</div>

<div>
<label class="j-label">Last Name</label>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="lname">
<i class="icofont icofont-ui-user"></i>
</label>
<input type="text" id="lname" name="lname">
</div>
</div>
</div>


 <div>
<div>
<label class="j-label">Email</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="email">
<i class="icofont icofont-envelope"></i>
</label>
<input type="email" id="email" name="email">
</div>
</div>
</div>


<div>
<div>
<label class="j-label ">Username</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="username">
<i class="icofont icofont-ui-check"></i>
</label>
<input type="text" id="username" name="username">
</div>
</div>
</div>


<div>
<div>
<label class="j-label ">Password</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="password">
<i class="icofont icofont-lock"></i>
</label>
<input type="password" id="password" name="password">
</div>
</div>
</div>

<div>
<div>
<label class="j-label ">Confirm Password</label>
</div>
<div class="j-unit">
<div class="j-input">
<label class="j-icon-right" for="c-password">
<i class="icofont icofont-lock"></i>
</label>
<input type="password" id="c-password" name="c-password">
</div>
</div>
</div>

<div class="j-response"></div>

</div>

<div class="j-footer">
  <button class="btn btn-primary" type="submit"><span><i class="fa fa-check"></i></span> Sign Up</button>
</div>

</form>
</div>
</div>
</div>

</div>
</div>
</div>

<!-- <div class="panel col-lg-8 col-lg-offset-2">
      <div class="panel-heading bg-warning" style="border:2pt blue solid">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
        <form action="" method="post">
            <div class="form-group">
              <label class="text-center">First Name: </label>
              <input autocomplete="off" autofocus class="form-control" name="fname" placeholder="First Name" type="text" required/>
              <label class="text-center">Last Name: </label>
              <input autocomplete="off" class="form-control" name="lname" placeholder="Last Name" type="text" required/>
              <label class="text-center">Username: </label>
              <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
              <label class="text-center">E-mail: </label>
              <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="email"/>
              <label class="text-center">Password: </label>
              <input class="form-control" name="pwd" placeholder="Password" type="password"/>
              <label class="text-center">Confirm Password: </label>
              <input class="form-control" name="confirm-pwd" placeholder="Confirm Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit"><span><i class="fa fa-check"></i></span> Sign Up</button>
        </form>
      </div>
</div> -->
{% endblock %}
